/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  font-family: Arial, sans-serif;
}

img,
video {
  max-width: 100%;
  height: auto;
} */
